[project]
	description = I Have A Dream, that One Day we will have a Gluster Planet....
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/dpkshetty
[access "refs/for/refs/*"]
	read = group user/dpkshetty
	push = group user/dpkshetty
	label-Code-Review = -2..+2 group user/dpkshetty
	label-Verified = -1..+1 group user/dpkshetty
	rebase = group user/dpkshetty
	removeReviewer = group user/dpkshetty
	submit = group user/dpkshetty
[access "refs/heads/*"]
	read = group user/dpkshetty
	create = group user/dpkshetty
	push = +force group user/dpkshetty
	pushMerge = group user/dpkshetty
[access "refs/tags/*"]
	push = +force group user/dpkshetty
	pushTag = group user/dpkshetty
	pushSignedTag = group user/dpkshetty
